<!DOCTYPE html>
<html>

<head>
  <title>
    <%= data.title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="bodyDiv">
    <h1>Üdvözöllek az AZURE világában!</h1>

    <h2>
      <%= data.title %>
    </h2>
    <p>Alkalmazott NodeJS Verzió: <%= data.nodeVerison %>
    </p>
    <div>Szerver név: <%= data.host %></div>
  </div>
</body>

</html>